*.Rproj.user
*.Rhistory
R_credentials.R
*.RData
*.Rds
*.Ruserdata
*.pptx
*.docx
.Rproj.user
*.url
*.log
*.pdf
*.dta
/images
*.Rproj
*.zip
*.aux
!EconomicFishCondition.pdf
*.smcl
*.ster
EconomicFishCondition.tex
/presentations/*